<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="1438dfcc-afb8-4a50-9dd0-2ceb59dfd8ec"
            Publisher="CN=DOS"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>SyncNotes</DisplayName>
    <PublisherDisplayName>DOS</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>SyncNotes</Description>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="SyncNotes.App">
        <VisualElements
            DisplayName="SyncNotes"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="SyncNotes"
            ForegroundText="light"
            BackgroundColor="#222222">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>