<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="c779c62f-9636-414c-8813-9214ecb6715f"
            Publisher="CN=DOS"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>Metro_Hello</DisplayName>
    <PublisherDisplayName>DOS</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>Metro_Hello</Description>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="Metro_Hello.App">
        <VisualElements
            DisplayName="Metro_Hello"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="Metro_Hello"
            ForegroundText="light"
            BackgroundColor="#222222">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>